* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    float: left;
    position: relative;
    padding: 50px 0;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.rect {
    height: 10px;
    width: 10px;
    border: 2px solid #e67e22;
    background-color: #e67e22;
    border-width: 2px;
    float: left;
    margin-left: 20px;
    margin-top: 12px;
}

.heading {
    width:100%;
    float: left;
    padding-bottom: 20px;
}

h2 {
    margin-left: 45px;
    padding-bottom: 20px;
    font-family: 'Josefin Sans', Arial;
    color: #292929;
}



/* -----HEAD----- */



header {
    background-image: url(img/ancient.jpg), linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* BUTTON-NAVIGATION */

.logo {
    margin: 0;
    font-size: 50px;
    padding: 20px 40px;
    color: #fff;
    float: left;
    font-family: 'Josefin Sans', 'Arial', sans-serif;
    font-weight: 300;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 20px 40px;
    font-weight: 300;
    transition: color 0.2s ease;
}

.btn:hover {
    color: #8c360f;
}

.navigation {
    width: 100%;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 5px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a {
    color: #e67e22;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 30px;
}


/* TEXT BOX*/

.ancient-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    font-family: 'Josefin Sans';
    font-weight: 100;
    text-align: center;
}

.ancient-text-box p {
    margin: 0;
    color: #fff;
    font-size: 300%;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 4px;
}

.ancient-text-box p m {
    font-size: 20px;
}



.ion-ios-arrow-down {
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    margin: 0 auto;
    color: #e67e22;
    font-size: 60px;
}




/* ----SECTION FEATURES----- */

.section-features {
    background-color: #fff;
}

/* COL SPAN */

.span-1-of-4 {
    width: 23.8%;
}

.col {
    display: block;
    float: left;
    margin-left: 20px;
    margin-bottom: 10px;
    font-family: 'Lato', Arial;
}

.col h1 {
    margin-left: 10px;
    margin-top: 0;
    font-family: 'Josefin Sans', Arial;
}

.col p1 {
    color: #b2b2b2;
    font-size: 110%;
    margin-left: 10px;
}

.col h3 {
    padding-bottom: 10px;
    font-family: 'Josefin Sans', Arial;
}

p1, p {
    font-family: 'Open Sans', Arial;
    font-weight: 300;
}

h3 {
    font-size: 30px;
}

m h3 {
    padding-top: 20px;
}


/* IMAGE */

.section-features img {
    height: 300px;
    width: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 10px;
}

.images {
    margin-right: 5px;
}





/* -----SECTION PLATFORMS----- */

.section-platforms {
    background-color: #868686;
    margin: 0 auto;
    width: 100%;
    position: relative;
}

/* COL SPAN */
.span-1-of-3 h2 {
    margin-left: 60px;
    margin-left: 0;
    color: #1d1d1d;
}

.span-1-of-3 p {
    margin-left: 0;
    color: ##1d1d1d;
} 

.span-1-of-3 {
    width: 350px;
    background-color: #fff;
    border: 2px solid #c9c9c9;
    padding: 20px 0 40px 0;
    margin-right: 170px;
}

.span-1-of-3:last-child {
    margin-right: 0;
}


/* IMAGE */

.span-1-of-3 img {
    height: auto;
    width: auto;
}

.img-container {
    position: relative;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}


/* BUTTON */

.button-container {
    height: 46px;
}

.button:link,
.button:visited {
    border-radius: 30px;
	border: 8px solid  #e67e22;
	background-color:  #e67e22;
    color: #fff;
	margin: auto;
	text-align: center;
    font-weight: 300;
    font-size: 80%;
    text-decoration: none;
    padding: 5px 15px;
    margin-left: 52px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    margin-left: 0;
}

.button:hover,
.button:active {
    background-color: #cf6d17;
    border-color: #cf6d17;
}


.content {
   text-align: center; 
}

.content h2 {
    padding-bottom: 5px;
}

.platforms {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    /*  centrowanie  */
    display: flex;
    justify-content: center; /*HORYZONTALNIE / POZIOMO*/
    align-items: center; /*WERTYKALNIE / PIONOWO*/
}

.premiere {
    font-family: 'Josefin Sans', Arial;
    font-size: 120%;
    margin-left: 60px;
    margin-bottom: 30px;
}

#color {
    color: red;
}




/* -----SECTION FORM----- */

.section-form {
    width: 100%;
    position: relative;
    background-image: url(img/map.PNG); 
}

form {
    margin: 0 auto;
    padding: 20px 60px 0 60px;
}

form div + div {
    margin-top: 1em;
}

.contact {
    padding: 120px 0;
}

label {
    display: inline-block;
    width: 90px;
    text-align: left;
    font-family: 'Josefin Sans';
    font-size: 30px;
    color: #000;
    font-weight: 300;
}

input, label {
    display:block; 
}

input, textarea {
    font: 30px 'Lato';
    width: 300px;  
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #363636;
    padding: 10px;
}

input:focus, textarea:focus {
    border-color: #000;
}

input, textarea,
input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 2;
}

#feedback {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
}

#feedback textarea {
    border: 2px solid #363636;
    height: 150px;
}

#feedback textarea:focus {
    border: 3px solid #e67e22;
}

#feedback input {
    height: 50px;
}

#feedback input:focus {
    border: 3px solid #e67e22;
}

#feedback input, #feedback textarea {
    width: 100%;
}

#feedback .group {
    float: left;
    margin-top: 0;
    width: 30%;
    margin-left: 3%;
}


/* BUTTON */

.btn-send:link,
.btn-send:visited,
button[type=submit] {
    border-radius: 30px;
	border: 2px solid #e67e22;
	background-color: #e67e22;
    color: #fff;
    margin: auto;
	text-align: center;
    font-weight: 300;
    text-decoration: none;
    padding: 5px 15px;
    float: right;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-send:hover,
.btn-send:active,
button[type=submit]:hover {
    background-color: #cf6d17;
    border-color: #cf6d17;
}


.foot p {
    color: #2f2f2f;
    text-align: center;
    font-family: 'Josefin Sans';
}